@import url('https://fonts.googleapis.com/css?family=Roboto:700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family:'Roboto';
    background: url(background.jpg);
    background-size: 100%;
    justify-content: center;
}

.flex-container {

    display: flex;
}

p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-left: 1250px ;
}

.animation {
  height:60px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.70rem;
  margin-bottom: 3.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  background-color:#20bdf6a2;
}
.second div {
  background-color:#ea0fc9e5;
}
.third div {
  background-color:#7cc105;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}




.zoom {
    transition: transform .2s;
    width: 200px;
    height: 250px;
 
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  
  }

.card1{
    width: 350px;
    height: 420px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 5px;
    overflow: hidden;
    
}

.card1 img {
    width: 350px;
    height: 420px;
    border-radius: 5px;
    transition: 0.4s;
}

.card1 .yazi1{
    width: 100%;
    height: 390px;
    background-color:rgb(95, 150, 192);
    transform: translateY(-60px);
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.4s;
}

.card1 .yazi1 h3{
    height: 60px;
    line-height: 50px;
    padding: 0px 10px;   
}

.card1 .yazi1 p {
    padding: 0px 10px;
    padding: 0px 10px; 
    font-size: 12.5px;
    text-align: justify;
}

.card1:hover .yazi1{
    transform: translateY(-390px);
}

.card1:hover{
    box-shadow: 0px 0px 20px black;
}

.card1:hover img{
    transform: scale(1.2);
}



.card2{
    width: 350px;
    height: 300px;
    margin-top: 0px ;
    margin-left: 450px;
    
    border-radius: 5px;
    overflow: hidden;
}

.card2 img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    transition: 0.4s;
}

.card2 .yazi2{
    width: 100%;
    height: 300px;
    background-color:rgb(95, 150, 192);
    transform: translateY(-60px);
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.4s;
}

.card2 .yazi2 h3{
    height: 60px;
    line-height: 50px;
    padding: 0px 5px;   
}


.card2 .yazi2 h5{
    height: 40px;
    line-height: 30px;
    padding: 0px 5px;   
}

.card2 .yazi2 p {
    padding: 0px 10px;
    padding: 0px 10px;
    font-size: 12px;
}


.card2:hover .yazi2{
    transform: translateY(-300px);
}

.card2:hover{
    box-shadow: 0px 0px 20px black;
}

.card2:hover img{
    transform: scale(1.2);
}

.card3{
    width: 350px;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 420px ;
    margin-left: 250px;
}

.card3 img {
    width: 350px;
    height: 270px;
    border-radius: 5px;
    transition: 0.4s;
}

.card3 .yazi3{
    width: 100%;
    height: 200px;
    background-color: rgb(95, 150, 192);
    transform: translateY(-60px);
    opacity: 0.9;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.4s;
}

.card3 .yazi3 h3{
    height: 60px;
    line-height: 50px;
    padding: 0px 10px;   
}

.card3 .yazi3 p {
    padding: 0px 10px;
    padding: 0px 10px; 
    font-size: 17px;
}

.card3:hover .yazi3{
    transform: translateY(-200px);
}

.card3:hover{
    box-shadow: 0px 0px 20px black;
}

.card3:hover img{
    transform: scale(1.2);
}


.SocialMedia{
    width: 350px;
    height: 625px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 420px;
    margin-top: 130px;
}

.SocialMedia img {
    width: 350px;
    height: 625px;
    border-radius: 5px;
    transition: 0.4s;
}

.SocialMedia .yazi4{
    width: 100%;
    height: 150px;
    background-color: rgb(41, 119, 152);
    transform: translateY(-70px);
    opacity: 0.8;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 15px 10px 10px black;
    cursor: pointer;
    transition: 0.4s;
}

.SocialMedia .yazi4 h3{
    height: 60px;
    line-height: 50px;
    padding: 0px 10px;   
}

.SocialMedia:hover .yazi4{
    transform: translateY(-630px);
}

.SocialMedia:hover{
    box-shadow: 0px 0px 20px black;
}

.SocialMedia:hover img{
    transform: scale(1.2);
}


.yazi4 .Socialmedia{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.yazi4 .Socialmedia a{
    color: #f062a0;
    width: 60px;
    font-size: 40px;
    transition: .3s linear ;
}
.yazi4 .Socialmedia a:hover{
    color: #000098;
}





